bin/
Android_chat_client.*
android_chat_client.*
AndroidManifest.xml
ant.properties
build.xml
local.properties
proguard-project.txt
project.properties
.idea/
out/
.gitignore~
README.md~
src/directi/androidteam/training/chatclient/activitytest.java
src/directi/androidteam/training/lib/TCPHandler/CustomXmpp.java
src/directi/androidteam/training/lib/TCPHandler/smackLogin.java
src/directi/androidteam/training/chatclient/Authentication/DoNotDelete
AndroidManifest.xml
