<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="directi.androidteam.training.chatclient"
          android:versionCode="1"
          android:versionName="1.0"
          android:exported="true" >
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application android:name="directi.androidteam.training.ChatApplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/app_icon">
        <activity android:name="directi.androidteam.training.chatclient.GlobalTabActivity"
                  android:launchMode="singleTask">
                  </activity>

        <activity android:name="directi.androidteam.training.chatclient.InitialActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="directi.androidteam.training.chatclient.Authentication.LoginActivity"
                  android:label="@string/app_name">
<!--            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="directi.androidteam.training.chatclient.InitialActivity" /> -->
        </activity>
        <activity android:name=".Roster.DisplayRosterActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
<!--            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="directi.androidteam.training.chatclient.Authentication.LoginActivity" /> -->
        </activity>

        <activity android:name="directi.androidteam.training.chatclient.Authentication.UserListActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="directi.androidteam.training.chatclient.Authentication.DisplayAccounts"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="directi.androidteam.training.chatclient.Authentication.LoginErrorActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="directi.androidteam.training.chatclient.Chat.ChatBox"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
        </activity>
        <receiver android:name="directi.androidteam.training.chatclient.Util.NetworkConnectionChangeReceiver"
                  android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>